.section
  .row
    .small-12.columns
      %p
        Becoming a programmer takes a small bit of intelligence and a LOT of persistence. Writing code every single day
        keeps your brain focused and helps you grasp difficult concepts.
      %p
        Long form programming is the most beneficial. Having one 2-hour programming session is infinitely better than 4 30-minute sessions. Much like a Heroku dyno, it takes your brain time to "spin up" and "load the code". It might take 15 minutes to get the zone, and by that time, if you're doing a 30-minute session, you only have 15 minutes remaining. If you're doing a 2-hour session, you still have one hour and forty-five minutes of great productivity ahead of you.
      %p
        In order to encourage consistent coding, I've build a leaderboard for TeaLeaf Academy. Input your name and
        GitHub username and you'll be added to the leaderboard below. The more you commit, the higher up the leaderboard you'll get!
      %p
        The leaderboard was built using
        =link_to "Foundation Zurb", "http://foundation.zurb.com/"
        and a scraper gem called Nokogiri. It's the same gem that powers Capybara's functional testing. If you're curious about the code, take a look here:
        =link_to "Tealeaf Leaderboard GitHub", "https://github.com/pmichaeljones/tl_leaderboard/"
  %hr
    .row
    .small-12.columns.centered
      %p
        This site was built using TDD best-practices by TeaLeaf Academy student
        =link_to "Patrick Jones", "http://pmichaeljones.herokuapp.com"
  %hr
  = render 'shared/messages'
  .row
    .small-12.columns
      =form_for(User.new, data: {abide:''}) do |f|
        %fieldset
          %legend Leaderboard Submission Form
          .row
            .small-12.column
              %p Note: You will receive an email containing a secret token. Use that token to remove yourself from the leaderboard.
            .small-12.large-3.column
              = f.label :name, "Your Name"
              = f.text_field :name, placeholder: 'Your Name', required: ''
              %small.error Please enter name
            .small-12.large-3.column
              = f.label :github_username, "GitHub Username"
              = f.text_field :github_username, placeholder: 'Your GitHub Username', class: 'radius', required: ''
              %small.error Enter username please!
            .small-12.large-3.column
              = f.label :email, "Email Address"
              = f.text_field :email, placeholder: 'Email Address', class: 'radius', id: "email", type: 'email', required: ''
              %small.error Must be valid email
            .small-12.large-3.column
              %label Email Confirmation
              %input(type="email" placeholder="Email confirmation" class='radius' data-equalto="email" required=true)
              %small.error Emails don't match
          .small-12.column.centered
            = f.submit "Join the Leaderboard!", class: 'button login-button'
            = link_to "Refresh Leaderboard!", update_users_path, class: 'button login-button light-blue'
  .row
    .small-12.columns.centered
      %h2
        Tealeaf Academy Leaderboard
  .row
    .small-12.columns
      %table
        %thead
          %tr
            %th Rank
            %th Name
            %th GitHub Username
            %th Yearly Contributions
            %th Current Streak
            %th.centered Delete
        %tbody
          -@users.each_with_index do |user, index|
            %tr
              %td #{index + 1}
              %td #{user.name}
              %td=link_to "#{user.github_username}", "https://github.com/#{user.github_username}"
              %td #{user.contributions} Commits
              %td #{user.streak} Days
              %td.centered
                =form_tag("/delete_user", method: :post) do
                  =hidden_field_tag :user_id, user.id
                  =submit_tag "X", class: 'erase-user-button'