!!! 5
%html(lang="en-US")
  %head
    %title TeaLeaf Academy Leaderboard
    %meta(charset="UTF-8")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    = csrf_meta_tag
    = javascript_include_tag "vendor/modernizr"
    = stylesheet_link_tag "application"
    %link(href='http://fonts.googleapis.com/css?family=Raleway:400,200,700' rel='stylesheet' type='text/css')
  %body
    %header
      = render 'shared/header'
    %section.content.clearfix
      = render 'shared/messages'
      = yield
    %footer
      = render 'shared/footer'
    = javascript_include_tag "application"
